<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>719252956074-gobl74c6lnbfa594ift3dljtjgctvt33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.719252956074-gobl74c6lnbfa594ift3dljtjgctvt33</string>
	<key>API_KEY</key>
	<string>AIzaSyDzEKsErz6JKPpsRj3wxnNau0U7AlM7ic8</string>
	<key>GCM_SENDER_ID</key>
	<string>719252956074</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.regApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>alali-reg-app</string>
	<key>STORAGE_BUCKET</key>
	<string>alali-reg-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:719252956074:ios:f3b54e088e132c838e01d3</string>
</dict>
</plist>